{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore soluta nostrum eligendi aliquam, nihil voluptate magni ex, optio adipisci reprehenderit nisi reiciendis deserunt. Est et quisquam iusto ut incidunt, nam sunt cumque quis labore commodi reiciendis cupiditate maxime. Consequatur, ipsa quo atque vitae assumenda repellendus enim consectetur quia id nobis qui aliquam culpa autem modi, blanditiis quod repudiandae, cupiditate eligendi quis. Repellendus vitae a totam ipsa sapiente, vel mollitia maxime similique dicta veritatis, illo voluptate consequatur fugit alias ut ad illum reprehenderit dolores nostrum inventore. Repellendus quas debitis provident nam quis distinctio cumque, pariatur similique magnam impedit cupiditate, sapiente blanditiis?</p>

<p>Website created by {{ username }}</p>

{% endblock %}